.productRow{ display: flex; padding: 30px 0px; margin: 0px -15px; flex-wrap: wrap;}
.productRow.loading{opacity: 0.5; filter: blur(5px);}

.productRow .item{width: 25%;  padding: 15px 15px;}

.productRow .item{width: 20%;}